@model IEnumerable<AdminBookListingServiceModel>
@{
    ViewData["Title"] = "Книги на категорията";
}

<h2>
    @ViewData["Title"]
</h2>

@if (Model.Count() == 0)
{
    <h3 class="text-center mb-3">Категорията няма книги. </h3>
}
else
{
    <div class="container justify-content-center">
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Заглавие</th>
                    <th>Автор</th>
                    <th>Издателство</th>
                    <th>Дата на създаване</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.AuthorFullName</td>
                        <td>@book.PublisherName</td>
                        <td>@book.CreatedOn.ToShortDateString()</td>
                        <td>@book.Price.ToString("F2") лв.</td>
                        <td class="justify-content-center d-flex">
                            @if (book.IsDeleted == false)
                            {
                                <a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id=@book.Id class="btn btn-warning m-1">Редактирай</a>
                                <a asp-area="Admin" asp-controller="Books" asp-action="Hide" asp-route-id=@book.Id class="btn btn-danger m-1">Скрий</a>
                                <a asp-area="Admin" asp-controller="Books" asp-action="Show" asp-route-id=@book.Id class="btn btn-success disabled m-1">Покажи</a>
                                <a asp-area="Admin" asp-controller="Books" asp-action="Categories" asp-route-id=@book.Id class="btn btn-primary pull-right m-1">Категории</a>
                            }
                            else
                            {
                                <a asp-area="Admin" asp-controller="Books" asp-action="Edit" asp-route-id=@book.Id class="btn btn-warning m-1">Редактирай</a>
                                <a asp-area="Admin" asp-controller="Books" asp-action="Hide" asp-route-id=@book.Id class="btn btn-danger m-1 disabled">Скрий</a>
                                <a asp-area="Admin" asp-controller="Books" asp-action="Show" asp-route-id=@book.Id class="btn btn-success m-1">Покажи</a>
                                <a asp-area="Admin" asp-controller="Books" asp-action="Categories" asp-route-id=@book.Id class="btn btn-primary pull-right m-1">Категории</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}





