@model BookDetailsViewModel

@{
    ViewData["Title"] = "Детайли за книгата";
}

<div class="row">
    <div class="col-md-4 mt-5 mb-4">
        <div class="book-page">
            <div class="d-flex justify-content-center">
                <img class="img-responsive" src=@Model.Image width="200" height="300">
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-5 mb-3">
        <div class="justify-content-center w-50">
            <h4> @Model.Title</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Автор</td>
                        <td><a href="/publisher/579-Анхира.html">@Model.AuthorFullName</a></td>
                    </tr>
                    <tr>
                        <td>Издателство</td>
                        <td><a href="/publisher/579-Анхира.html">@Model.PublisherName</a></td>
                    </tr>
                    <tr>
                        <td>Език</td>
                        <td>@Model.Language</td>
                    </tr>
                    <tr>
                        <td>Категории</td>
                        <td><a href="/books/95-Технология-и-психология-на-бизнеса/">Технология и психология на бизнеса</a>, <a href="/books/220-Икономика/">Икономика</a>, <a href="/books/373-Книги/">Книги</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#annotation" data-toggle="tab" aria-expanded="true"><i class="fa fa-list-alt" aria-hidden="true"></i>  Анотация</a>
                </li>

                <li class="">
                    <a href="#comments" data-toggle="tab" aria-expanded="false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Коментари</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="annotation">
                    <p>
                        "Търсете и ще намерите."<br>
                        <br>
                        Тези думи отекват в съзнанието на видния харвардски професор по религиозна символика Робърт Лангдън, когато се свестява в болница, без спомен къде се намира и как се е озовал там. Не може да обясни и произхода на страховития предмет, открит сред вещите му.<br>
                        <br>
                        Заплаха за живота ще запрати Лангдън и младата лекарка Сиена Брукс на главоломна гонитба из Флоренция. Единствено познаването на тайни проходи и древни загадки, спотайващи се зад историческата фасада, може да ги спаси от неизвестните им преследвачи.<br>
                        <br>
                        Водени само от няколко стиха от мрачния шедьовър на Данте, Лангдън и Сиена трябва да разгадаят серия шифри, скрити дълбоко в някои от най-прочутите творби на Ренесанса – скулптури, картини, сгради, – за да открият отговора на загадка, която може би ще им помогне да спасят света от ужасяваща заплаха...<br>
                        <br>
                        Разиграващ се на невероятен фон, вдъхновен от една от най-зловещите литературни класики в историята, „Ад” е най-завладяващият и предизвикващ размисъл роман на Дан Браун досега - задъхана надпревара с времето, която ще ви грабне още от първата страница и няма да ви остави до последната. <br>
                        <br>
                        Дан Браун е автор на „Шифърът на Леонардо”, един от най-четените романи на всички времена, а също и на два други световни бестселъра, главен герой в които е професорът от Харвард Робърт Лангдън – „Изгубеният символ” и „Шестото клеймо”. Писателят живее в Нова Англия със съпругата си.
                    </p>
                    <p>Ключови думи: <a href="/tags/1140-Майстори на трилъра.html">Майстори на трилъра</a>, <a href="/tags/1189-ТОП 50 Художествена литература 2016.html">ТОП 50 Художествена литература 2016</a>, <a href="/tags/1192-Хеликон топ 200 2016.html">Хеликон топ 200 2016</a>, <a href="/tags/2347218-Топ 50 за последните 10 години.html">Топ 50 за последните 10 години</a>, <a href="/tags/3047899-Книги-филми.html">Книги-филми</a>, <a href="/tags/3501536-Кратки редове от големи книги.html">Кратки редове от големи книги</a>, <a href="/tags/8791249-Отдели време за четене.html">Отдели време за четене</a>, <a href="/tags/9840845-Смразяващи трилъри.html">Смразяващи трилъри</a></p>
                </div>


                <div class="tab-pane fade" id="comments">



                    <article class="product-review">
                        <div class="product-review-content-full">





                            <p class="product-review-meta">от Ели / дата: 03 дек 2017</p>


                            <p class="product-review-body">
                                Реших да и дам шанс, след като прочетох Произход и тя приятно ме изненада. Уви, пълна греда, Ад е адски скучна и я зарязах на 20-та страница. Още началото е пълно с измишльотини и недоразумения, а сериозната гонка даже не е почнала още. Героите са пълен фарс, и къде по дяволите е тая болница с изглед към Дуомо?! Май ще мина директно към филма, там поне става с прицъкване. Не си давайте парите за това чудо, не си струва инвестицията.


                            </p>
                        </div>
                    </article>


                    <article class="product-review">
                        <div class="product-review-content-full">





                            <p class="product-review-meta">от Ади / дата: 17 окт 2016</p>


                            <p class="product-review-body">
                                На мен пък книгата много ми хареса. Повече от другите на Дан Браун, които съм чела, като "Шифъра на Леонардо" или "Шестото клеймо". Темата е доста интересна и актуална. За жалост в сега появилия се филм са променили края и според мен са сбъркали. В книгата нещата са по-логични и по-интересни. Има за какво да помислите, ако я прочетете.


                            </p>
                        </div>
                    </article>



                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myReview" onclick="load_rec()">Напиши коментар</a>



                </div>

            </div>
        </div>

    </div>*@
<div class="row mt-5">
    <div class=" col-md-7" >
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Мнения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">@Model.Description</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Hi</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Goodbye</div>
        </div>
    </div>
</div>

