@model BookDetailsServiceModel

@{
    ViewData["Title"] = "Детайли за книгата";
}

<div class="row">
    <div class="col-md-4 mt-5 mb-4">
        <div class="book-page">
            <div class="d-flex justify-content-center">
                <img class="img-responsive" src=@Model.Image width="200" height="300">
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-5 mb-3">
        <div class="justify-content-center w-50">
            <h4> @Model.Title</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Автор</td>
                        <td><a asp-controller="Home" asp-action="Index" asp-route-author=@Model.AuthorFullName class="text-info">@Model.AuthorFullName</a></td>
                    </tr>
                    <tr>
                        <td>Издателство</td>
                        <td><a asp-controller="Home" asp-action="Index" asp-route-publisher="@Model.PublisherName" class="text-info">@Model.PublisherName</a></td>
                    </tr>
                    <tr>
                        <td>Език</td>
                        <td>@Model.Language</td>
                    </tr>
                    <tr>
                        <td>Категории</td>
                        <td><a href="/books/95-Технология-и-психология-на-бизнеса/">Технология и психология на бизнеса</a>, <a href="/books/220-Икономика/">Икономика</a>, <a href="/books/373-Книги/">Книги</a></td>
                    </tr>
                    <tr>
                        <td><a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.Id" class="btn btn-primary btn-md"> Купи</a></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class=" col-md-7">
        <ul class="nav nav-tabs bg" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Мнения</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">@Model.Description</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                @if (Model.Reviews.Count() == 0)
                {
                <p class="mt-3">Все още няма мнения за тази книга.</p>
                }
                <ul class="list-group mt-3 col-md-12 ">
                    @foreach (var review in Model.Reviews)
                    {
                        <li class="list-group-item mb-2">
                            <p class="font-italic"> от @review.CreatorUserName / дата: @review.CreatedOn.ToShortDateString()</p>
                            @review.Text
                        </li>

                    }
                </ul>
                <div class="mt-5 col-md-8">
                    <form asp-controller="Books" asp-action="Review" method="post">
                        <table style="position: relative; width: 100%;" cellspacing="1" cellpadding="4" border="0">
                            <tbody>
                                <tr>
                                    <td class="" align="right"><b>Мнение:</b></td>
                                    <td colspan="2" class="table-v2-cont-back" style="width: 90%;">
                                        <textarea name="Text" cols="30" rows="5" style="width: 100%;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="table-v2-title-back" valign="middle" height="46" align="center">
                                        <input name="" class="forms-buttons-submit-btn" type="submit" value="Добави">
                                        <input type="hidden" name="BookId" value="@Model.Id">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

