@model List<BookListingServiceModel>
@{
    ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron bg-primary mt-3 mb-3">
        <h1 class="font-weight-bold text-white">Добре дошли в BookStore!</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white">Приятно пазаруване!</h3>
    </div>
}
else
{
    @*<div id="products" class="mt-3">
            @foreach (var book in Model)
            {
                <div class="products-row row d-flex justify-content-around my-5">

                    <div class="product col-md-4">
                        <div class="image-holder d-flex justify-content-center">
                            <a href="/Book/Details/@book.Id">
                                <img class="img-thumbnail product-image" src="@book.Image" alt="...">
                            </a>
                        </div>
                        <h5 class="text-primary text-center mt-0">@book.Title</h5>
                        <h6 class="text-primary text-center mt-0">@book.AuthorFullName</h6>
                        <h5 class="text-primary text-center mt-0">Цена: @book.Price.ToString("F2") лв.</h5>
                    </div>
                </div>
            }
        </div>*@
    <div id="products" class="mt-3">
            @for (int i = 0; i < Model.Count; i += 5)
            {
        <div class="products-row row d-flex justify-content-around my-5">
            @for (int j = i; j < i + 5; j++)
            {
                if (j < Model.Count)
                { 
            <div class="col-md-2">
                <div class="d-flex justify-content-center w-75">
                    <a href="/Book/Details/@Model[j].Id">
                        <img class="img-thumbnail" src="@Model[j].Image" alt="...">
                    </a>
                </div>
                <div class="w-75">
                    <h5 class="text-primary text-center mt-0">@Model[j].Title</h5>
                    <h6 class="text-primary text-center mt-0">@Model[j].AuthorFullName</h6>
                    <h5 class="text-primary text-center mt-0">Цена: @Model[j].Price.ToString("F2") лв.</h5>
                </div>         
            </div>
                
                    }
                    else
                    {
                        <div class="product col-md-2 empty">
                        </div>
                    }
                }
            </div>
            }
        </div>
    @*@foreach (var book in Model)
        {
                <div class="row">
                    <div class="col text-center">
                        <div class="display: flex justify-content: space-around">
                            <div class="hello_world w-50">
                                <a href="/Book/Details/@book.Id">
                                    <img class="img-thumbnail product-image w-25" src="@book.Image" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        }*@

}
